<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans:bean class="com.mystudy.web.common.SpringContextUtil"/>


    <beans:bean id="employee" class="com.mystudy.web.model.Persion">
        <beans:property name="name" value="employeeId" />
        <beans:property name="address" value="employeeCode"/>
        <beans:property name="age" value="100"/>
        <beans:property name="sex" value="M"/>
    </beans:bean>

    <beans:bean id="initTestBean" class="com.mystudy.web.common.InitSequenceBean"
            init-method="initMethodByXml">
        <beans:property name="testInitValue" value="aaaaa*****aaaa"/>
    </beans:bean>
    <beans:bean id="initTestBean_1" class="com.mystudy.web.common.InitSequenceBean"
                init-method="initMethodByXml">
        <beans:property name="testInitValue" value="initTestBean_1*****aaaa"/>
    </beans:bean>

</beans:beans>